*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    
}
body{
     font-family: "Montserrat", sans-serif;
}
.wrapper{
    width: 100%;
    height: calc(100vh - 100px);
    
}
.main{
    width: 90%;
    background-color: #141922;
    overflow-y: scroll;
    
}
.side-bar{
    width: 10%;
    background-color: black;
}
.container{
    display: flex;
    height: 100%;
}
.mini-header{
    
    height: 18vh;
    width: 100%;
    background-color: rgb(8 11 18);
    justify-content: flex-end;
    align-items: center;

}
.upgrade{
    margin-right: 20px;
    width: 200px;
    height: 55px;
   justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
}
.played{
    margin-left: 20px;
    margin-top: 20px;
}


.flex{
    display: flex;
}
.menu{
    padding-left: 20px;
    display: none;
    
    
}
.nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 20px;
    margin-top: 10px;
    gap: 10px;
}

.logo{
    padding: 8px;
}
.playlist{
    padding-top: 15px;
    font-size: 25px;
}
.add{
    margin-top: 15px;
    font-weight: bold;
    font-size: 19px;
   
    
    
}
.playlist-creation{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 5px;
   list-style: none;
   margin-top: 8px;
}
.footer{
    width: 100%;
    background-color: #282828;
    height: 100px;
}
.col-20{
    width: 45%;
    text-align: center;
   
    

}
.columns{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    margin-top: 6px;
    justify-content: center;
}
.col-20 img {
  width: 100%;
 
}

.second-header ul {
    padding-left: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding-top: 20px;
    gap: 10px;
    
}
.second-header a {
    text-decoration: none;
    font-size: small;
}

.logo1{
    display: none;
}
.colon{
    display: flex;
    gap: 15px;
    margin-left: 15px;
    margin-top: 15px;
}
.nav img{
    height: 20px;
}
.logo-2{
    padding: 9px;
    
}
.user img {
    height: 30px;
    
}

.sub-title{
    color: gray;
    font-size: smaller;
    text-align: center;
}
.choose{
    width: 25px;
    height: 27px;
    border: 1px solid white;
    display: inline-block;
    text-align: center;
    background-color: gray;
    margin-right: 10px;
}
.playlist-creation li{
    margin-bottom: 5px;
}

.menu-2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-bar {
    font-size: small;
}


.col-21{
    width: 45%;
    text-align: center;
    
}
.col-21 img{
     width: 100%;
     border-radius: 100px;
}
.colon-2{
    display: flex;
    gap: 15px;
    margin-right: 15px;
    margin-top: 15px;
   justify-content: flex-start;
}
.song{
    width: 31%;
    display: flex;
    align-items: center;
}
.player{
    
    width:38%
    
}
.volume-control{
    width: 31%;
}
.footer{
    display: flex;
    flex-direction: row;
}
.little-image{
    width: 55px;
}
.song-name{
   display: flex;
   flex-direction: row;
   align-items: center;
   
}
.inline{
    display: inline;
}
.symbols{
    display: none;
}
.col-15{
    width: 15%;
    height: 24px;
    background-color: aqua;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    
}
.col-75{
    width: 75%;
    height: 24px;
    background-color: blue;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.low-bar{
    display: flex;
    
}


